@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #443636;
  font-weight: 600; }

p, span, label {
  font-family: "Lato", sans-serif;
  color: #696969;
  font-size: 18px; }

.currency-smaller-text {
  font-size: 0.9rem;
  padding-left: 4px; }
  @media (min-width: 576px) {
    .currency-smaller-text {
      font-size: 1rem; } }

.currency-smaller-text-checkout {
  font-size: 0.75rem;
  display: inline-block;
  padding-left: 2px;
  margin: 0px; }
  @media (min-width: 576px) {
    .currency-smaller-text-checkout {
      font-size: 1rem; } }

.orderRow-smaller-text span, .orderRow-smaller-text p, .orderRow-smaller-text label {
  font-size: 0.85rem; }
  @media (min-width: 576px) {
    .orderRow-smaller-text span, .orderRow-smaller-text p, .orderRow-smaller-text label {
      font-size: 1.2rem; } }

#sum span, #sum p, #sum label {
  font-size: 1rem; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.5rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1rem; }
  @media (min-width: 360px) {
    h5 {
      font-size: 1.25rem; } }
  @media (min-width: 992px) {
    h5 {
      font-size: 1.4rem; } }

.navbar .logo-container img {
  height: 85px; }

.navbar .badge {
  background-color: #2FC8B4; }

.popover .popover-header {
  background-color: #78BDC0; }
  .popover .popover-header span {
    color: #443636; }
  .popover .popover-header #cartclosebutton span {
    font-size: 1.3rem; }

.popover .popover-body #cartItemQuantityContainer #button-circle {
  background-color: #78BDC0; }

.popover .popover-body #toCheckoutButton {
  color: #443636;
  background-color: #78BDC0; }

footer .title {
  color: #443636;
  font-weight: 900;
  font-size: 1.2rem; }

footer h4 {
  color: #2FC8B4; }

footer a {
  color: #696969;
  text-decoration: underline; }
  @media (min-width: 992px) {
    footer a {
      text-decoration: none; }
      footer a:hover {
        color: #009A84;
        text-decoration: none; } }

footer ul {
  padding: 0;
  margin: 0; }
  footer ul li {
    font-family: "Lato", sans-serif;
    list-style: none;
    color: #696969; }

footer th.openingtime, footer td.openingtime {
  padding: 0; }

footer table th, footer table td {
  font-family: "Lato", sans-serif; }

footer #imgfb, footer #imgtwi, footer #imgig {
  height: 50px; }

h1.checkoutheader {
  text-align: center;
  background-color: #2FC8B4;
  font-size: 1.5rem; }

.should-hyphenate {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.accordion .accordionButton {
  width: 100%;
  border-radius: 0;
  border: 1px solid #009A84;
  font-family: "Montserrat", sans-serif;
  color: #696969;
  font-weight: 600; }

.accordion .accordionButton:hover {
  background-color: #009A84; }

.accordion img.paycard {
  width: 20%;
  height: 40%; }

.accordion form #customerZip::-webkit-inner-spin-button,
.accordion form #customerZip::-webkit-outer-spin-button {
  -webkit-appearance: none; }

.accordion form #termsoforder {
  text-align: center; }
  .accordion form #termsoforder p {
    font: "Lato", sans-serif; }
  .accordion form #termsoforder #confirmationbutton {
    background-color: #2FC8B4; }
  .accordion form #termsoforder #confirmationbutton:hover {
    background-color: #009A84; }

.accordion form #submitFormButton {
  background-color: #2FC8B4; }

.accordion form #submitFormButton:hover {
  background-color: #009A84; }

#on {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: #2FC8B4; }

body {
  background-color: #FFFFFF; }
  body #myjumbotron {
    background-color: #FFFFFF; }
    @media (min-width: 1200px) {
      body #myjumbotron #myJumbotronImgContainer {
        width: 1026px; } }
  body .card .card-title {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto; }
  body .card .card-footer {
    background-color: #FFFFFF; }
    body .card .card-footer #descriptionbutton {
      background-color: #2FC8B4;
      color: #696969;
      border-color: #2FC8B4;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    body .card .card-footer #descriptionbutton:hover {
      background-color: #009A84; }
    body .card .card-footer #descriptionbutton:active {
      background-color: #67C5B9; }
  body .card .productDescr {
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    font-size: 0.95rem; }
  body .card #addtocart {
    background-color: #2FC8B4;
    color: #696969; }
  body .card #addtocart:hover {
    background-color: #009A84; }
  body .card #addtocart:active {
    background-color: #67C5B9; }
  @media (min-width: 576px) {
    body .card button {
      font-size: .95rem; } }
