@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  color: #656565;
  font-weight: 600; }

p, span, label {
  font-family: "Lato", sans-serif;
  color: #656565;
  font-size: 1rem; }

h1 {
  font-size: 2.2rem; }

h2 {
  font-size: 2.1rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.4rem; }

h5 {
  font-size: 1.2rem; }

.checkoutheader {
  text-align: center;
  background-color: #FF5E6B; }

.input-group {
  flex-wrap: nowrap; }
  .input-group .input-group-field {
    width: 30%;
    height: min-content;
    padding: 0.5rem;
    margin: 0 auto;
    font-size: 0.5rem; }
  .input-group .input-group-field::-webkit-inner-spin-button,
  .input-group .input-group-field::-webkit-outer-spin-button {
    -webkit-appearance: none; }

.btn-small {
  background-color: #FF5E6B;
  border-radius: 50%;
  font-size: 0.8rem;
  margin-top: 0; }

#submitFormButton {
  background-color: #FF5E6B; }

#submitFormButton:hover {
  background-color: #FF4352; }

#termsoforder {
  text-align: center; }
  #termsoforder p {
    font: "Lato", sans-serif; }
  #termsoforder #confirmationbutton {
    background-color: #FF5E6B; }
  #termsoforder #confirmationbutton:hover {
    background-color: #FF4352; }

#on {
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  color: #FF5E6B; }

.popover .popover-header #myCartTitle span {
  font-size: 1.2rem; }

.popover .popover-header #myCartTitle #cartclosebutton {
  font-size: 1.5rem; }

footer {
  border-top: 1px solid lightgrey; }
  footer .title {
    color: #FF5E6B;
    font-weight: 700;
    font-size: 1rem; }
  footer a {
    color: #656565; }
    footer a:hover {
      color: #FF5E6B; }
  footer ul {
    padding: 0;
    margin: 0; }
    footer ul li {
      font-family: "Lato", sans-serif;
      list-style: none;
      color: #656565; }
  footer .days {
    color: #FF5E6B;
    font-weight: bold; }
  footer .time {
    text-align: center; }
  footer .images-gallery ul {
    padding-left: 0; }
    footer .images-gallery ul li {
      font-family: "Lato", sans-serif;
      list-style: none;
      float: left;
      margin: 0 3% 2% 0;
      position: relative; }
      footer .images-gallery ul li:nth-child(3n) {
        margin: 0 0 1%; }
      footer .images-gallery ul li .someimg {
        width: 75%; }

body {
  background-color: #ffffff; }

.card-title {
  text-align: center;
  margin-top: 20px;
  height: 60px;
  font-size: 24px; }

#descriptionbutton {
  background-color: #FF5E6B;
  border-radius: 7px;
  border-color: #FF5E6B; }

#descriptionbutton:hover {
  background-color: #FF4352; }

#descriptionbutton:active {
  background-color: #FF5E6B;
  border: 2px solid #FF5E6B; }

#addtocart {
  background-color: #FF5E6B;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: #FF5E6B;
  padding: 10px; }

#addtocart:hover {
  background-color: #FF4352; }

#addtocart:active {
  background-color: #FF5E6B;
  border: 2px solid #FF5E6B; }

.card-footer {
  background-color: #ffffff; }

.jumbotron {
  background-color: #ffffff;
  padding: 0;
  margin: 0; }

#imgdiv {
  align-items: center; }
