@charset "UTF-8";


.checkoutheader {
    text-align: center;
    background-color: $main-color;
}

#delbutton {
    background-color: $main-color;
    border-radius: 50%;
}

#submitFormButton {
    background-color: $main-color;
}

#submitFormButton:hover {
    background-color: $hoover;
}

#termsoforder {
    text-align: center;
        p {
           font: $sfont-stack; 
        }
        #confirmationbutton {
            background-color: $main-color;
        }
        #confirmationbutton:hover {
          background-color: $hoover;  
        }
}

