h1.checkoutheader {
    text-align: center;
    background-color: $main-color;
    // for being able to have the necessary h1 but not using its size, instead taking the value of h3:
    font-size: 1.5rem;
}

.should-hyphenate {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.accordion {

    .accordionButton {
        width: 100%;
        border-radius: 0;
        font-family: $font-stack;
        color: $font-color;
        font-weight: 600;
    }

    img.paycard {
        width: 20%;
        height: 40%;
    }

    form {

        #customerZip::-webkit-inner-spin-button,
        #customerZip::-webkit-outer-spin-button {
              -webkit-appearance: none; 
            }

        #termsoforder {
            text-align: center;
                p {
                   font: $sfont-stack;
                }
                #confirmationbutton {
                    background-color: $main-color;
                }
                #confirmationbutton:hover {
                  background-color: $hover;  
                }
        }

        #submitFormButton {
            background-color: $main-color;
        }
        #submitFormButton:hover {
            background-color: $hover;
        }
    }
}

