@charset "UTF-8";


.checkoutheader {
    text-align: center;
    background-color: $main-color;
}

.input-group {
    flex-wrap: nowrap;

}

.input-group-field {
    width: 30%;
    height: min-content;
    padding: 0.5rem;
    margin: 0 auto;
}

.input-group-field::-webkit-inner-spin-button,
.input-group-field::-webkit-outer-spin-button {
  -webkit-appearance: none; 
}

.btn-small {
    background-color: $main-color;
    border-radius: 50%;
    font-size: 0.8rem;
}

#submitFormButton {
    background-color: $main-color;
}

#submitFormButton:hover {
    background-color: $hoover;
}

#termsoforder {
    text-align: center;
        p {
           font: $sfont-stack;
        }
        #confirmationbutton {
            background-color: $main-color;
        }
        #confirmationbutton:hover {
          background-color: $hoover;  
        }
}

