// FOOTER \\

footer {
    border-top: 1px solid lightgrey;
        .title { // BLOMMA
            color: $main-color;
            font-weight: 700;
            font-size: 1rem;
        }

        a {
            color: $font-color;
            &:hover{
            color: $main-color;
            } 
        }
        ul {
        padding: 0;
        margin: 0;
            li {
                font-family: $sfont-stack;
                list-style: none;
                color: $font-color;
            }
        }
        .days{
            color: $main-color;
            font-weight: bold;

        }
        .images-gallery{
            ul{
            padding-left: 0;
            li{
                font-family: $sfont-stack;
                list-style: none;
                float: left;
                margin: 0 3% 2% 0;
                position: relative;
                &:nth-child(3n) {
                margin: 0 0 1%;
                }
                .someimg {
                width: 75%;
                } 
            }
        }
    }
    
}