.navbar {
    .logo-container {
        img {
            height: 90px;
        }
    }

    .popover {
        .popover-header {
            #myCartTitle {
                span {
                    font-size: 1.2rem;
            }
            #cartclosebutton {
                font-size: 1.5rem;
            }
            }
        }
        .popover-body {
            #toCheckoutButton {
                color: #FFF;
                background-color: $main-color;
            }
        }
    }
}