
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

// Variables | Fonts \\

$font-stack: 'Montserrat', sans-serif; // Main Font
$sfont-stack: 'Lato', sans-serif; // Secondary Font

// Variables | Colors \\

$font-color: #656565;
$main-color: #FF5E6B;
$main-color2: #FFCE1C;
$main-color3: #2FC8B4;
$bg-color: #ffffff;