
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

// Variables | Fonts \\

$font-stack: 'Montserrat', sans-serif; // Main Font
$sfont-stack: 'Lato', sans-serif; // Secondary Font

// Variables | Colors \\

$font-color: #656565;
$main-color: #FF5E6B;
$hoover: #FF4352;
$press: #FF5E6B;
$main-color2: #FFCE1C;
$main-color3: #2FC8B4;
$bg-color: #ffffff;

// // Fonts \\

// h1 {
//     font-family: $font-stack;
//     font-size: 48px;
//     font-weight: 600;
//     color: $font-color;
// }

// h2 {
//     font-family: $font-stack;
//     font-size: 36px;
//     font-weight: 600;
//     color: $font-color;
// }

// h3 {
//     font-family: $font-stack;
//     font-size: 30px;
//     font-weight: 600;
//     color: $font-color;
// }

// h4 {
//     font-family: $font-stack;
//     font-size: 24px;
//     font-weight: 600;
//     color: $font-color;
// }

// h5 {
//     font-family: $font-stack;
//     font-size: 18px;
//     font-weight: 600;
//     color: $font-color;
// }

// p {
//     font-family: $sfont-stack;
//     font-size: 16px;
// }

// .p2 {
//   font-family: $sfont-stack;
//   font-size: 20px;
// }

// span {
//     font-family: $sfont-stack;
//     font-size: 16px;
// }
