@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:400,700&display=swap");

// Variables | Fonts \\

$font-stack: 'Montserrat', sans-serif; // Main Font
$sfont-stack: 'Lato', sans-serif; // Secondary Font

// Variables | Colors \\

$font-color: #656565;
$main-color: rgb(253, 188, 193);
$hoover: rgb(250, 154, 162);
$press: rgb(250, 133, 143);
$main-color2: #FFCE1C;
$main-color3: #2FC8B4;
$bg-color: #ffffff;

// FONTS & SIZES \\

h1, h2, h3, h4, h5, h6 {
    font-family: $font-stack;
    color: $font-color;
    font-weight: 600;
  }

p, span, label {
    font-family: $sfont-stack;
    color: $font-color;
    font-size: 2vmin;
}

h1 {
    font-size: 6vmin;
}

h2 {
    font-size: 5vmin;
}

h3 {
    font-size: 4.5vmin;
}

h4 {
    font-size: 4vmin;
}

h5 {
    font-size: 3.5vmin;
}
