@import 'variables.scss';
@import 'checkout.scss';
@import 'confirmation.scss';
@import 'navbar.scss';
@import 'footer.scss';

// Fonts \\

h1 {
    font-family: $font-stack;
    font-size: 48px;
    font-weight: 600;
    color: $font-color;
}

h2 {
    font-family: $font-stack;
    font-size: 36px;
    font-weight: 600;
    color: $font-color;
}

h3 {
    font-family: $font-stack;
    font-size: 30px;
    font-weight: 600;
    color: $font-color;
}

h4 {
    font-family: $font-stack;
    font-size: 24px;
    font-weight: 600;
    color: $font-color;
}

h5 {
    font-family: $font-stack;
    font-size: 18px;
    font-weight: 600;
    color: $font-color;
}

p {
    font-family: $sfont-stack;
    font-size: 16px;
}

.p2 {
  font-family: $sfont-stack;
  font-size: 20px;
}

span {
    font-family: $sfont-stack;
    font-size: 16px;
}

// Main \\


body {
    background-color: $bg-color;
    color: $font-color;
    }

.card-title {
  text-align: center;
  margin-top: 20px;
  height: 60px;
  font-size: 24px;
}
#descriptionbutton {
  background-color: $main-color;
  border-radius: 7px;
  border-color: $main-color;
}
#descriptionbutton:hover {
  background-color: $hoover;
}
#descriptionbutton:active {
  background-color: $press;
  border: 2px solid $press;
}
#addtocart {
  background-color: $main-color;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: $main-color;
  padding: 10px;
}
#addtocart:hover {
  background-color: $hoover;
}
#addtocart:active {
  background-color: $press;
  border: 2px solid $press;
}

.product-card {
  padding: 10px;
}

.card-footer {
  background-color: $bg-color;
}

.jumbotron {
  background-color: $bg-color;
  padding: 0;
  margin: 0;
}

#imgdiv {
  align-items: center;
}